<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-16(%d{MM-dd HH:mm:ss.SSS}) %-5level %logger{1} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/admin.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.home}/logs/admin-%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory> 
		</rollingPolicy>
		<encoder>
			<pattern>%-16(%d{MM-dd HH:mm:ss.SSS}) %-5thread %-5level %logger{1} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.home}/logs/error-%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory> 
		</rollingPolicy>
		
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
		  <param name="level" value="ERROR" />     
		 
		</filter> 
		<encoder>
			<pattern>%-16(%d{MM-dd HH:mm:ss.SSS}) %-5thread %-5level %logger{1} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="info" />
	<logger name="com.my.admin" level="info" />

	<root level="info" >
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
		<appender-ref ref="error" />
	</root>
</configuration>  
