<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 <display-name>asynch</display-name>
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/myAsynchConfig/spring-context.xml</param-value>
	</context-param>



	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
		<listener>
		<listener-class>com.my.asynch.tools.SpringApplicationContextHolder</listener-class>
	</listener>
	 <servlet>
   		 <servlet-name>Mainservlet</servlet-name>
	    <servlet-class>com.my.asynch.servlet.Mainservlet</servlet-class>
	  </servlet>
	
	  <servlet-mapping>
	    <servlet-name>Mainservlet</servlet-name>
	    <url-pattern>/servlet/jobdetail</url-pattern>
	  </servlet-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
